@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@300;400&display=swap');
*,input,:after,:before {-webkit-box-sizing:border-box;box-sizing:border-box}
body {font-size:15px;line-height:1.5;font-family:"Noto Sans KR",'Nanum Gothic', "Apple SD Gothic Neo","Malgun Gothic","Dotum","Hevetica",Arial,sans-serif;-webkit-text-size-adjust:none;color:#333;}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{font-family:"Noto Sans KR","Apple SD Gothic Neo","Malgun Gothic","Dotum","Hevetica",Arial,sans-serif;}
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,figure,p {margin:0;padding:0}
fieldset,img {border:0 none}
img {max-width:100%;height:auto;vertical-align:top}
dl,ul,ol,menu,li {list-style:none}
blockquote,q {quotes:none}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none}
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
table {width:100%;border-collapse:collapse;border-spacing:0;}
caption {font-size:0;line-height:0;visibility:hidden;}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none;border:1px solid #dbdbdb;}
input:checked[type='checkbox'] {background-color:#666;-webkit-appearance:checkbox}
input,textarea,keygen,select,button {font-family:"","Apple SD Gothic Neo","Malgun Gothic","Dotum","Hevetica",Arial,sans-serif;}
button,html input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button}
div,article,aside,footer,header,main,nav,section {-webkit-box-sizing:border-box;box-sizing:border-box}
section,header,footer,main,article,aside,nav,figcaption,figure {display:block}
address,caption,cite,code,dfn,em,var,i {font-style:normal;font-weight:normal}
a {color:inherit;text-decoration:none;cursor:pointer;}
/* a:visited, a:hover, a:active {text-decoration:none;} */
i {text-decoration:none;}
h1,h2,h3,h4,h5,h6,strong {font-family:"NanumSquare";font-weight:normal;}

#skipNav {position:relative;z-index:1000;width:100%;}
#skipNav a {position:absolute;display:block;top:-50px;left:0;width:100%;padding:10px 20px;background-color:rgba(0, 0, 0, 0.13);color:#fff;text-align:center;transition:all .5s;}
#skipNav a:focus {top:0;}
.screen_out {overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px;}
.screen_out2 {overflow:hidden;position:absolute;width:1px;height:1px;line-height:0;color:transparent;text-indent:-9999px;}
.clear:after {display:block;visibility:hidden;height:0;font-size:0;clear:both;content:"";}

.row_group:after {display:block;visibility:hidden;height:0;font-size:0;clear:both;content:"";}
.row_group .col {float:left;}
.row_group.col_2 .col {width:50%;}
.row_group.col_3 .col {width:33.3333%;}
.row_group.col_4 .col {width:25%;}
.row_group.col_5 .col {width:20%;}

.ico_comm,
.ico2_comm:after,
.ico3_comm:before {display:inline-block;overflow:hidden;background-image:url(../images/ico_comm.png?ver0.1);color:transparent;vertical-align:middle;text-indent:-9999px;}


.wrpper {min-width:1200px;}
.inner_wrap {width:1110px;margin:0 auto;}

header {position:relative;border-bottom:1px solid #ddd;border-bottom: 1px solid #000;transition:all .5;}
header .inner_wrap {position:relative;}
header:after {content:"";display:block;width:100%;height:0px;position:absolute;left:0;top:0;background:#fff;transform:translateY(87px);z-index:-1;transition:all .3s;}
header.active:after {content:"";display:block;height:350px;z-index:99;transition:all .3s;}

.header_left {position:absolute;left:0;top:50%;transform:translateY(-50%);}
.header_right {position:absolute;right:0;top:50%;transform:translateY(-50%);}
.header_right > a {position:relative; display:inline-block;text-indent:-9998px;font-size:0;}
.header_right .search_btn {width:30px;height:30px; background-position:0 0;}
.header_right .all_menu_btn {transform:translateY(-60%);}
.header_right .all_menu_btn span {display:block;width:30px;height:3px;background:#222;}
.header_right .all_menu_btn span + span {margin-top:5px;}
.header_right .icon_sch {width:30px;height:30px;}
#gnbMenu {font-size:0;text-align:center;z-index:100;}
#gnbMenu > li {position:relative;display:inline-block;width:15%; padding:0 10px;font-size:15px;z-index:100;}
#gnbMenu .depth_1 > a {display:block;padding:28px 10px;font-size:20px;}
#gnbMenu .depth_2 {position:absolute;width:100%;z-index:10;font-size:14px;background:#fff;border-left:1px solid #eaeaea;}
#gnbMenu .depth_1:last-child .depth_2 {border-right:1px solid #eaeaea;}
#gnbMenu .depth_2 li {}
#gnbMenu .depth_2 li a {display:block;padding:10px 0;font-size:15px;}
#gnbMenu .depth_2 {padding-top:1rem;margin-top:1px;opacity:0;height:0;transition:all .4s;}
header.active #gnbMenu .depth_2 {padding-top:1rem;opacity: 1;height:280px;transition:all .4s;}/* .active */
/* #gnbMenu .depth_2 li > a {}.active */



footer {background:#666;text-align:center;padding:2em 0 2.5em;font-size:14px;color:#fff;}
footer ul > li {display:inline-block;color:rgba(255, 255, 255, .5);}
footer ul > li + li {margin-left:1em;}
footer ul > li a:hover {color:#fff;}

/* MAIN */
.main_section section + section {padding:40px 0 60px;}
.main_section section .h_title {position:relative;display:block;width:100%;padding-bottom:5px;margin-bottom:25px; border-bottom:1px solid #ddd;}
.main_section section .h_title h2 {font-size:30px;}
.main_section section .h_title .icon_title {position:absolute;right:10px;top:0;width:21px;height:21px;background-position:-80px 0;transform:translateY(52%);transition:rotate, .5s;}
.main_section section .h_title:hover .icon_title {transform:translateY(52%) rotate(180deg);transition:rotate, .5s;}
.main_section section .title {font-size:20px;}
.main_section section .date {font-size:14px;color:#999;}
.main_section section .frame_g {overflow:hidden;}
.main_section section .frame_g img {width:100%;height:100%;object-fit:cover;}
.main_section section .list_group .title {display:block;float:left;width:80%;font-size:18px;line-height:1.3;overflow:hidden;word-break:keep-all;text-overflow:ellipsis;white-space:inherit;}
.main_section section .list_group .date {display:inline-block;padding-left:2%;border-left:1px solid  #ddd;}
.main_section section .news_con .title {display:block;display:-webkit-box;min-height:60px;font-size:16px;line-height:1.3;overflow:hidden;white-space: inherit;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:3;}

.main_section .main_slide {width:100%; overflow:hidden;}
.main_section .main_slide .slick-arrow {position:absolute;top:0;}
.main_section .main_slide .slick-arrow .slick-next {right:0;}
.main_section .main_slide .slick-arrow .slick-prev {left:0;}

/* comm */
.main_section .list_group > div + div {margin-top:1.4em;}

.main_section .con2 > .col,
.main_section .con4 > .col {width:530px;}
.main_section .con2 > .col + .col,
.main_section .con4 > .col + .col {margin-left:50px;}

.main_section .con2 .news_con .col {}
.main_section .con2 .news_con .col + .col {margin-left:.5%;}
.main_section .con2 .news_con .title {min-height:40px;margin-top:.5em;}
.main_section .con2 .news_con .date {display:block;margin-top:.5em;}

.main_section .con3 {background:#f3f3f3;}
.main_section .con3 .frame_g {width:24.25%;}
.main_section .con3 .col + .col {margin-left:.3%;}
.main_section .con3 .col img {width:100%;height:100%;object-fit:cover;}

.main_section .con4 .news_con {max-height:220px;padding-bottom:5%;overflow-y:auto;}
.main_section .con4 .news_con .row_group + .row_group {margin-top:1em;}
.main_section .con4 .news_con .frame_g {width:26%;margin-right:2%;}
.main_section .con4 .news_con .txt_g {width:60%;padding-top:.4em;}
.main_section .con4 .news_con .txt_g .date {display:block;margin-top:10px;}












